In [2]:
import numpy as np
import pandas as pd
import datetime as dt
from datetime import timedelta

In [21]:
theo_file = "Data_Theodolite/TheoGelb_20250829.txt"

azimuth_offset= 0

start_time = dt.datetime(2025, 8, 29, 8, 31, 8)

with open(theo_file, "r") as f:
    lines = f.readlines()
lines = lines[:-3]  # letzte drei Zeilen verwerfen

time_sec, value1, value2 = [], [], []
for line in lines:
    line = line.strip()
    if line.startswith("D"):
        parts = line.split()
        time_sec.append(float(parts[1]))
        value1.append(float(parts[2]))
        value2.append(float(parts[3]))
    elif line.startswith("S"):
        print("Metadata:", line)

azimuth = np.array(value1) + azimuth_offset
azimuth[azimuth > 360] -= 360

df_theo = pd.DataFrame({
    "time_sec": [start_time + timedelta(seconds=s) for s in time_sec],
    "azimuth": azimuth,
    "elevation":value2
})

Metadata: S 25/08/29 08:31:08

In [22]:
df_theo

               time_sec  azimuth  elevation
0   2025-08-29 08:31:08   113.99      25.16
1   2025-08-29 08:31:13   115.04      25.08
2   2025-08-29 08:31:18   115.24      25.23
3   2025-08-29 08:31:23   116.58      26.95
4   2025-08-29 08:31:28   118.17      27.21
..                  ...      ...        ...
992 2025-08-29 09:53:48   126.61      14.52
993 2025-08-29 09:53:53   125.30      14.40
994 2025-08-29 09:53:58   125.23      14.79
995 2025-08-29 09:54:03   126.09      15.79
996 2025-08-29 09:54:08   126.35      17.14

[997 rows x 3 columns]

In [23]:
azimuth_mean=np.mean(df_theo["azimuth"])

In [24]:
theowind=azimuth_mean+180

In [25]:
theowind

np.float64(303.65983951855566)

In [26]:
mastwind=251.81

In [27]:
difference=theowind-mastwind

In [28]:
difference

np.float64(51.849839518555655)

In [29]:
realaz = df_theo["azimuth"] - difference

In [30]:
meanrealaz= np.mean(realaz)

In [31]:
meanrealaz

np.float64(71.81)

In [32]:
df_theo["realaz"] = realaz

In [33]:
df_theo.to_csv("Data_Theodolite/TheoGelb_20250829_corrected.csv", index=False)

In [34]:
df_loaded = pd.read_csv("Data_Theodolite/TheoGelb_20250829_corrected.csv")

print(df_loaded)

                time_sec  azimuth  elevation    realaz
0    2025-08-29 08:31:08   113.99      25.16  62.14016
1    2025-08-29 08:31:13   115.04      25.08  63.19016
2    2025-08-29 08:31:18   115.24      25.23  63.39016
3    2025-08-29 08:31:23   116.58      26.95  64.73016
4    2025-08-29 08:31:28   118.17      27.21  66.32016
..                   ...      ...        ...       ...
992  2025-08-29 09:53:48   126.61      14.52  74.76016
993  2025-08-29 09:53:53   125.30      14.40  73.45016
994  2025-08-29 09:53:58   125.23      14.79  73.38016
995  2025-08-29 09:54:03   126.09      15.79  74.24016
996  2025-08-29 09:54:08   126.35      17.14  74.50016

[997 rows x 4 columns]

In [35]:
df_loaded1 = pd.read_csv("Data_Theodolite/TheoRot_20250829_corrected.csv")

print(df_loaded1)

                time_sec  azimuth  elevation     realaz
0    2025-08-29 08:31:08   191.89      24.63  62.711221
1    2025-08-29 08:31:13   192.64      24.31  63.461221
2    2025-08-29 08:31:18   192.31      25.62  63.131221
3    2025-08-29 08:31:23   194.07      26.44  64.891221
4    2025-08-29 08:31:28   195.40      26.85  66.221221
..                   ...      ...        ...        ...
994  2025-08-29 09:53:58   202.52      14.44  73.341221
995  2025-08-29 09:54:03   203.18      15.07  74.001221
996  2025-08-29 09:54:08   203.87      16.57  74.691221
997  2025-08-29 09:54:13   202.08      18.04  72.901221
998  2025-08-29 09:54:18   199.40      18.85  70.221221

[999 rows x 4 columns]