In [1]:
from function_calculation_elevation_from_GPS import process_elevation_gps

In [2]:
# 2025-08-27
gps_file = "Data_Radiosonde/GpsResults.xlsx"
lidar_file = "Data_Lidar/20250827/combined_20250827.nc"
theo_file = "Data_Theodolite/TheoRot_20250827_150544.txt"
alt_file = "Data_Altitude/20250827_altitude_kite_from_wxt.csv"
date_str = "2025-08-27"
start_time_str = "09:08:09"
output_csv = "20250827_elv_fromGPS.csv"

process_elevation_gps(gps_file, lidar_file,theo_file, alt_file, date_str, start_time_str,output_csv)

Metadata: S 25/08/27 09:08:09
Saved elevation data → 20250827_elv_fromGPS.csv

In [4]:
# 2025-09-01, 1st period
gps_file = "Data_Radiosonde/20250901/GpsResults.xlsx"
lidar_file = "Data_Lidar/20250901/combined_20250901.nc"
theo_file = "Data_Theodolite/TheoGelb_20250901_1st_period.txt"
alt_file = "Data_Altitude/20250901_altitude_kite_from_wxt.csv"
date_str = "2025-09-01"
start_time_str = " 09:03:20"
output_csv = "Data_ElevationAngle_GPS/20250901_1stperiod.csv"

process_elevation_gps(gps_file, lidar_file,
    theo_file,
    alt_file,
    date_str,
    start_time_str,
    output_csv)

Metadata: S 25/09/01 09:03:20
Saved elevation data → Data_ElevationAngle_GPS/20250901_1stperiod.csv

                             time  elevation_angle
0   2025-09-01 09:03:20.660679936        49.175993
1   2025-09-01 09:03:48.610661120        65.784570
2   2025-09-01 09:04:16.560683008        47.087045
3   2025-09-01 09:04:44.510680064        60.933243
4   2025-09-01 09:05:12.910664192        46.609040
..                            ...              ...
169 2025-09-01 10:24:00.340691200        41.962439
170 2025-09-01 10:24:28.290669824        44.484672
171 2025-09-01 10:24:56.240664064        18.103275
172 2025-09-01 10:25:31.230658048        48.241609
173 2025-09-01 10:25:59.180666880        48.631771

[174 rows x 2 columns]

In [5]:
# 2025-09-01, 2nd period
gps_file = "Data_Radiosonde/20250901/GpsResults.xlsx"
lidar_file = "Data_Lidar/20250901/combined_20250901.nc"
theo_file = "Data_Theodolite/TheoGelb_20250901_2nd_period.txt"
alt_file = "Data_Altitude/20250901_altitude_kite_from_wxt.csv"
date_str = "2025-09-01"
start_time_str = "12:17:08"
output_csv = "Data_ElevationAngle_GPS/20250901_2ndperiod.csv"

process_elevation_gps(gps_file, lidar_file,theo_file, alt_file, date_str, start_time_str,output_csv)

Metadata: S 25/09/01 12:17:08
Saved elevation data → Data_ElevationAngle_GPS/20250901_2ndperiod.csv

                             time  elevation_angle
0   2025-09-01 12:17:21.050699008        45.920002
1   2025-09-01 12:17:48.980739072        51.214729
2   2025-09-01 12:18:16.910660096        41.652249
3   2025-09-01 12:18:44.840670976        44.791957
4   2025-09-01 12:19:12.770668032        51.172488
..                            ...              ...
153 2025-09-01 13:29:51.460700160        64.712397
154 2025-09-01 13:30:22.430669056        17.896071
155 2025-09-01 13:30:50.390675968        42.250268
156 2025-09-01 13:31:18.340673024        50.851904
157 2025-09-01 13:31:46.300667904        12.891036

[158 rows x 2 columns]

In [6]:
# 2025-09-03, 1st period
gps_file = "Data_Radiosonde/20250903/GpsResults_1stperiod.xlsx"
lidar_file = "Data_Lidar/20250903/combined_20250903.nc"
theo_file = "Data_Theodolite/TheoGelb_20250903_1stperiod.txt"
alt_file = "Data_Altitude/20250903_1stperiod_altitude_kite_from_wxt.csv"
date_str = "2025-09-03"
start_time_str = "08:48:09"
output_csv = "Data_ElevationAngle_GPS/20250903_1stperiod.csv"

process_elevation_gps(gps_file, lidar_file,theo_file, alt_file, date_str, start_time_str,output_csv)

Metadata: S 25/09/03 08:48:09
Saved elevation data → Data_ElevationAngle_GPS/20250903_1stperiod.csv

                             time  elevation_angle
0   2025-09-03 08:48:09.700980992        44.159326
1   2025-09-03 08:48:37.630952960        49.331925
2   2025-09-03 08:49:05.570969088        53.325035
3   2025-09-03 08:49:33.501024000        46.806234
4   2025-09-03 08:50:01.430974976        45.878815
..                            ...              ...
169 2025-09-03 10:08:51.321018880        42.658628
170 2025-09-03 10:09:19.251097856        45.658396
171 2025-09-03 10:09:47.161072128        57.442156
172 2025-09-03 10:10:15.861052928        38.526733
173 2025-09-03 10:10:43.801106944        45.128739

[174 rows x 2 columns]

In [7]:
# 2025-09-03, 2nd period
gps_file = "Data_Radiosonde/20250903/GpsResults_2ndperiod.xlsx"
lidar_file = "Data_Lidar/20250903/combined_20250903.nc"
theo_file = "Data_Theodolite/TheoGelb_20250903_2ndperiod.txt"
alt_file = "Data_Altitude/20250903_2ndperiod_altitude_kite_from_wxt.csv"
date_str = "2025-09-03"
start_time_str = "12:42:17"
output_csv = "Data_ElevationAngle_GPS/20250903_2ndperiod.csv"

process_elevation_gps(gps_file, lidar_file,theo_file, alt_file, date_str, start_time_str,output_csv)

Metadata: S 25/09/03 12:42:17
Saved elevation data → Data_ElevationAngle_GPS/20250903_2ndperiod.csv

                             time  elevation_angle
0   2025-09-03 12:42:37.980987904        59.114423
1   2025-09-03 12:43:05.920955904        26.091134
2   2025-09-03 12:43:33.850949120        75.130965
3   2025-09-03 12:44:01.791006976        40.272363
4   2025-09-03 12:44:29.730951168        53.966436
..                            ...              ...
169 2025-09-03 14:03:08.410960896        46.539733
170 2025-09-03 14:03:36.350949120        41.613783
171 2025-09-03 14:04:04.290978048        48.769083
172 2025-09-03 14:04:32.220972032        48.364052
173 2025-09-03 14:05:00.160957952        45.187540

[174 rows x 2 columns]