In [7]:
import pickle
import sys
sys.path.append("../autokite")
with open("../autokite/coordinates.pckl", "rb") as f:
    data = pickle.load(f)

In [8]:
data

                  coordinates
time
20160901_114000    [255, 635]
20160901_114100    [742, 556]
20160901_114200    [510, 738]
20160901_114300    [560, 617]
20160901_114400    [680, 875]
20160901_114500    [718, 997]
20160901_114600   [501, 1247]
20160901_114700    [576, 600]
20160901_114800    [544, 610]
20160901_114900    [476, 608]
20160901_115000   [1101, 511]
20160901_115100    [512, 747]
20160901_115200    [604, 788]
20160901_115300   [688, 1116]
20160901_115400    [771, 980]
20160901_115500   [871, 1320]
20160901_115600  [1047, 1203]
20160901_115700   [888, 1481]
20160901_115800   [822, 1434]
20160901_115900   [844, 1566]
20160901_120000   [957, 1274]
20160901_120100   [839, 1402]
20160901_120200  [1082, 1431]
20160901_120300  [1073, 1630]
20160901_120400  [1042, 1494]
20160901_120500    [679, 743]
20160901_120600    [725, 831]
20160901_120700  [1011, 1371]
20160901_120800  [1069, 1605]
20160901_120900   [958, 1417]
20160901_121000  [1079, 1423]
20160901_121100   [992, 1516]
20160901_121200   [992, 1572]
20160901_121300  [1177, 1313]
20160901_121400  [1005, 1284]
20160901_121500  [1113, 1458]
20160901_121600  [1165, 1386]
20160901_121700  [1104, 1533]
20160901_121800  [1078, 1482]
20160901_121900  [1016, 1299]
20160901_122000  [1024, 1213]
20160901_122100  [1103, 1468]
20160901_122200  [1058, 1576]
20160901_122300  [1027, 1550]
20160901_122400  [1002, 1602]
20160901_122500   [960, 1499]
20160901_122600  [1054, 1585]
20160901_122700   [971, 1229]
20160901_122800   [900, 1438]
20160901_122900   [802, 1582]
20160901_123000   [799, 1504]
20160901_123100  [1425, 1187]
20160901_123200    [813, 802]
20160901_123300    [608, 695]
20160901_123400    [614, 730]
20160901_123500    [607, 802]
20160901_123600    [560, 919]
20160901_123700    [255, 635]
20160901_123800    [255, 635]
20160901_123900    [255, 635]